<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
      <div class="gameContainer">
    
          <div class="rosterBar">
              <table>
                <tr>
                  <td>
                    <table>
                      <tr>
                        <td class="players">
                          <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="green" />
                          </svg>
                          <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="green" />
                          </svg> 
                          <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="green" />
                          </svg>
                          <svg height="100" width="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="green" />
                          </svg>                          
                        </td>
                      </tr>
                    </table>
                    <div>
                    </div>
                  </td>
                </tr>
              </table>
    
            </div>
    
        
        <table>
          <tr>
            <td>
              <div style="text-align:center;">
    
                <table>
                  <tr>
                    <td>
                        
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="app">
                            <table>
                              <tr>
                                <td>
                                  <table>
                                    <tr>
                                      <td>
                                      
                                      </td>
                                    </tr>
                                  </table>
                                  <div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </div>
                    </td>
                  </tr>
                  <td>
                     
            
            
                        
                  </td>
                </table>
                
    
    
    
              </div>
            </td>
          </tr>
        </table>
    
      </div>