<div class="container-fluid">

    <h1 class="red-text text-center">Start a playground.</h1>

<!-- <a href="#"><img class="lagerer-image thick-red-border" src=" https://outlierbabe.files.wordpress.com/2014/05/fat-boy-winking-retro-cartoon.jpg alt=" A chubby kid "></a> -->

    <div>
        <p>
            You Drinking?
        </p>
            <label>
                <input type="radio" name="21 and older" /> 
                    Yeah I'm bboozing
            </label>
            <label>
                <input type="radio" name="Under 21" />
                     Nah, I'm stone cold but sober
            </label>    
    </div>

    <div>
        <p>
            How hardcore you planning to go?
        </p>
        <label>
            <input type="checkbox" name="personality" />
                PG
        </label>
        <p>
            Dude, I got morals to uphold!
        </p>
        <label>
            <input type="checkbox" name="personality" />
             PG 13
        </label>
         <p>
            Feeling slightly hardcore!
         </p>
        <label>
            <input type="checkbox" name="personality" />
            R
        </label>
        <p>
             I AM A SAVAGEEEEEE
        </p>
        <button type="submit">
             ring the bell, let recess commence
        </button>
    </div>

    
</div>
