<div class="container-fluid startPage">

    <h1 class="red-text text-center">Start a playground.</h1>

<!-- <a href="#"><img class="lagerer-image thick-red-border" src=" https://outlierbabe.files.wordpress.com/2014/05/fat-boy-winking-retro-cartoon.jpg alt=" A chubby kid "></a> -->

<form action="submit">
        <div>
                <p>
                    You Drinking?
                </p>
                    <label>
                        <input type="radio" id="over21" /> 
                            Yeah I'm bboozing
                    </label>
                    <label>
                        <input type="radio" id="under21" />
                             Nah, I'm stone cold but sober
                    </label>    
            </div>
        
            <div>
                <p>
                    How hardcore you planning to go?
                </p>
                <label>
                    <input type="checkbox" id="genrePG" />
                        PG
                </label>
                <p>
                    Dude, I got morals to uphold!
                </p>
                <label>
                    <input type="checkbox" id="genrePG13" />
                     PG 13
                </label>
                 <p>
                    Feeling slightly hardcore!
                 </p>
                <label>
                    <input type="checkbox" id="genreR" />
                    R
                </label>
                <p>
                     I AM A SAVAGEEEEEE
                </p>
                <button type="submit" class="submit">
                     ring the bell, let recess commence
                </button>
            </div>
        

</form>
    
</div>
