.container{
    width: 480px !important;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
}
.rosterBar{
    background-color: gray;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: relative;
    width: 100%;
    align-content: center;
}

.app{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    position: relative;
}

.gameContainer{
    position: fixed;
    background-color: black;
    width: 480px !important;
    height: 500px;
    overflow: hidden;
}

.startButton {
    text-align: center;
    margin-bottom: 20px;
}