<div class="container-fluid">
  
    <h1 class="red-text text-center">HERE WE GO AGAIN… RECESS</h1>
  
    <!-- <a href="#"><img class="lagerer-image thick-red-border" src=" https://outlierbabe.files.wordpress.com/2014/05/fat-boy-winking-retro-cartoon.jpg” alt="A chubby kid"></a> -->
  
  <form action= "/submit username"><input type="text" placeholder="Username">  
  </form>
  <form action= "/submit password"><input type="text" placeholder="Password">  
  </form>
    <button class="btn btn-info btn-block button-yellow-text">Sign in</button>
  
    <button class="btn btn-block btn-primary button-yellow-text">Terms and Conditions</button>
  
      <h1> Karma Warning </h1>
  <p>By signing in you agree to all RaM’s terms and conditions. Remember participation is completely voluntary and the score is arbitrary. So do not participate or let others pressure you into an activity that is harmful, dangerous, immoral or illegal.</p>
  </div>
  